[Unit]
Description=AmbientWeather Prometheus and InfluxDB Exporter
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=nobody
Environment=AMBI_APP_KEY=...
Environment=AMBI_API_KEY=...
ExecStart=/usr/local/bin/ambientweather-exporter.py

[Install]
WantedBy=multi-user.target
